/* Typefaces */
@font-face { 
  font-family: 'NeueMachina-Regular';
  src: url('./../assets/typefaces/NeueMachina-Regular.ttf') format('truetype');
}
@font-face { 
  font-family: 'GrandSlang-Italic';
  src: url('./../assets/typefaces/GrandSlang-Italic.ttf') format('truetype');
}
@font-face { 
  font-family: 'SuisseIntl';
  src: url('./../assets/typefaces/SuisseIntl-Regular.otf') format('opentype');
}

/* Styles */
body {
  background-color: #111;
  color: #eee;
  cursor: crosshair;
  font-family: 'Moderat', 'Suisse-Intl', 'Helvetica', sans-serif;
  font-size: 10px;
  font-weight: 200;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}
a, a:link, a:active, a:visited {
  color: #eee;
  cursor: cell;
  text-decoration: none;
}
a:hover {
  background-color: #111;
  color: #eee;
  cursor: cell;
}

/* Header Text Styles */
h1 { 
  font-family: 'NeueMachina-Regular';
  font-size: 10em;
  text-align: center;
  text-transform: uppercase;
}
h1 i { 
  font-family: 'GrandSlang-Italic';
  font-style: normal;
}
h2 {
  font-size: 1.5em; 
  text-transform: none;
}
h2 a { 
  text-transform: uppercase;
}

/* Sections */
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: hidden;
}
.header {
  display: flex;
  top: 2.5vh;
  left: 2.5vw;
  position: absolute;
  z-index: 99;
  width: 100vw;
}
.content { 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 95vw;
}

/* Links */
ul.links { 
  display: flex;
  font-size: 2em;
  justify-content: center;
  list-style-type: none;
  z-index: 1;
  width: 80%;
}
ul.links li a { 
  font-weight: 400;
  font-size: 1em;
}
ul.links li { 
  text-transform: uppercase;
}
ul.links li::after {
  content: "✦";
  padding: 2vw;
}
ul.links li:last-child::after { 
  content: "";
}
/* ul.links li::after a  { 
  content: "✦";
  padding: 2vw;
} */
/* ul.links li a:last-child::after  { 
  content: "✦";
  padding: 2vw;
} */

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
  padding: 0;
  height: auto;
  font-size: 1em;
  position: absolute;
  text-transform: uppercase;
  width: 90vw;
}
footer .date { 
  font-size: 25em;
  line-height: 20vh;
  text-align: center;
}
footer .date i { 
  font-family: 'GrandSlang-Italic';
  z-index: -99;
}
/* footer ul.contact_me {
  margin-top: 20px;
  list-style-type: none;
}
footer ul.contact_me li {
  font-size: 1.5em;
} */


/* Mobile Styles */
@media all and (max-width: 1200px) {
  h1 { 
    font-size: 9em;
  }
  footer .date { 
    font-size: 25em;
  }
}
@media all and (max-width: 1000px) {
  h1 { 
    font-size: 8em;
  }
}
@media all and (max-width: 800px) {
  h1 { 
    font-size: 7em;
  }
  ul.contact li a.long { 
    display: none;
  }
  ul.contact li a.short { 
    display: inline;
  }
  footer { 
    bottom: -7.5vh;
  }
  footer .date { 
    font-size: 20em;
  }
  footer .date i { 
    letter-spacing: -5px;
  }
}
@media all and (max-width: 600px) {
  h1 { 
    font-size: 6em;
  }
  footer { 
    bottom: -5vh;
  }
  footer .date { 
    font-size: 15em;
  }
}
@media all and (max-width: 480px) {
  body { 
    height: 100%;
    overflow; hidden;
  }
  h1 { 
    font-size: 5em;
  }
  footer { 
    bottom: 0vh;
  }
  footer .date { 
    font-size: 15em;
  }
}
