/* Typefaces */
@font-face { 
  font-family: 'NeueMachina-Regular';
  src: url('./../assets/typefaces/NeueMachina-Regular.ttf') format('truetype');
}
@font-face { 
  font-family: 'GrandSlang-Italic';
  src: url('./../assets/typefaces/GrandSlang-Italic.ttf') format('truetype');
}
@font-face { 
  font-family: 'SuisseIntl';
  src: url('./../assets/typefaces/SuisseIntl-Regular.otf') format('opentype');
}

/* Styles */
body {
  background-color: #eee;
  color: #222;
  cursor: crosshair;
  font-family: 'SuisseIntl', 'Helvetica', sans-serif;
  font-size: 0.5em;
  font-weight: 200;
  overflow-x: hidden;
  overflow-y: hidden;
  margin: 0;
  padding: 0;
}
a, a:link, a:active, a:visited {
  color: #222;
  cursor: cell;
  text-decoration: none;
}
a:hover {
  background-color: #222;
  color: #eee;
  cursor: cell;
}

/* Heading */
h1 { 
  font-family: 'NeueMachina-Regular';
  font-size: 12em;
  text-align: center;
  text-transform: uppercase;
}
h1 i { 
  font-family: 'GrandSlang-Italic';
  font-style: normal;
}

/* Section */
section {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow-y: hidden;
}
.content { 
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
}

/* Links */
ul.contact { 
  align-items: center;
  justify-content: center;
  list-style-type: none;
  width: 100%;
  z-index: 999;
}
ul.contact li { 
  font-weight: 600;
  font-size: 3em;
}
ul.contact li a.long { 
  display: inline-flex;
  text-transform: uppercase;
}
ul.contact li a.short { 
  display: none;
  text-transform: uppercase;
}

/* Footer */
footer {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  bottom: -10%;
  height: 100%;
  position: absolute;
  text-transform: uppercase;
}
footer .date { 
  width: 100%;
  font-size: 30em;
  text-align: center;
}
footer .date i { 
  font-family: 'GrandSlang-Italic';
  letter-spacing: -7.5px;
  z-index: -99;
}

/* Media Queries */
@media all and (max-width: 1200px) {
  h1 { 
    font-size: 9em;
  }
  footer .date { 
    font-size: 25em;
  }
}
@media all and (max-width: 1000px) {
  h1 { 
    font-size: 8em;
  }
}
@media all and (max-width: 800px) {
  h1 { 
    font-size: 7em;
  }
  ul.contact li a.long { 
    display: none;
  }
  ul.contact li a.short { 
    display: inline;
  }
  footer { 
    bottom: -7.5vh;
  }
  footer .date { 
    font-size: 20em;
  }
  footer .date i { 
    letter-spacing: -5px;
  }
}
@media all and (max-width: 600px) {
  h1 { 
    font-size: 6em;
  }
  footer { 
    bottom: -5vh;
  }
  footer .date { 
    font-size: 15em;
  }
}
@media all and (max-width: 480px) {
  body { 
    height: 100%;
    overflow; hidden;
  }
  h1 { 
    font-size: 5em;
  }
  footer { 
    bottom: 0vh;
  }
  footer .date { 
    font-size: 15em;
  }
}
