// background
$bg-color-light: #FEFEFE;
$bg-color-dark: #222;

// typography
$font-stack: Helvetica, Arial, sans-serif;
$font-stack-light: #222;
$font-stack-dark: #FEF;
$font-size-heading: 18px;
$font-size-footer: 15px;